.display-1, .lead {
    color: whitesmoke;
}

#bgimg{
    width: 100vw;
    /* opacity: 0.1; */
    z-index: -1;
    background: transparent;
    position: fixed;
}
header {
    text-align: center;
}

#search-cont {
    display: flex;
    justify-content: center;
}

th {
    width: 50px;
    font-size: 20px;
}

td{
    font-size: 20px;
}

td > img {
    height: 40px;
}

.sortable-th {
    cursor: pointer;
}